/os/target/
/os/src/link_app.S
/os/Cargo.lock
/os/.gdb_history
/os/last-k210
/os/last-qemu

/user/target/
/user/build/
/user/Cargo.lock

/fs/target/
/fs/Cargo.lock

/fs-fuse/target/
/fs-fuse/Cargo.lock

/.VSCodeCounter/
/.idea/
/.vscode/

/tools/